.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #af85857c;
  width: 300px;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .circle-img {
    width: 250px;
    height: 250px;
    border: 5px solid #af85857c;
  }
}

@media (max-width: 480px) {
  .circle-img {
    width: 200px;
    height: 200px;
    border: 4px solid #af85857c;
  }
}